cs-mssql-tribe-crafter-domain/bin
cs-mssql-tribe-crafter-domain/obj
cs-mssql-tribe-crafter-host/bin
cs-mssql-tribe-crafter-host/obj
cs-mssql-tribe-crafter-infrastructure/bin
cs-mssql-tribe-crafter-infrastructure/obj